@font-face {
  font-family: bebasNeue;
  src: url(../fonts/BebasNeue-Bold.otf);
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.first.wrapper h2{
    animation: fadein 2s 2s ease;
    animation-fill-mode: forwards;
    font-size:10vh;
    opacity:0;
    margin:0;
    transform: translateY(-120px);
    font-family:bebasNeue;
}

.socialmedia a:nth-child(1) {
    animation-delay: 1s;
}



.first.wrapper svg{
     flex: 1 0 0.33vh;
     align-self: center;
     animation-name: wiggle;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
}
 body{
    margin:0 0 0 0;
    font-family: 'open sans';
}
 .image{
     width:100%;
     height:100vh;
     left:0;
     top:0;
}
.infotext p{
    transform:translateY(0px);
    transition: all 2s;
}
.infotext p{
    transform:translateY(-450px);
    transition:all 2s 2s;
    animation: fadein 2s 2s forwards;
}
.infowrapper .header{
    margin-top: 3px;
    height:50px;
    overflow:hidden;

}
.infowrapper .header h2{
    margin: 0 0;
    transform:translateY(150px);
    transition:all 2s 2s;
    animation: fadein 2s 1s forwards;
}
.infowrapper{

    display:flex;
    flex-direction:column;
    width:25%;
    margin: 0px 12px 0px 12px;
    color:#fff;
}
.infotext{
    display:flex;
    flex-direction:column;
    overflow:hidden;
    text-align:center;
    z-index:2;

}
.personenvorstellung{
    border-top:solid 1px white;
    position:relative;
    text-align:left;
    color:white;
    display:flex;
    margin: 60px 20px;
    padding: 10px;

}
.wir .personenvorstellung:nth-child(3){
    border-top:none !important;
}
.personenvorstellung img{
    width: 40% !important;
    object-fit:cover;
}
.personenvorstellung:nth-child(2n-1) .beschreibung:before{
    content:"";
    width:30px;
    height:1px;
    background-color:#fff;
    margin:40px 0 0 -40px;
    display:block;

    position:absolute;

}
.personenvorstellung:nth-child(2n) .beschreibung:after{
        content:"";
        width:30px;
        height:1px;
        background-color:#fff;
        top: 60px;
        right: 38%;
        display:block;
        self-align:right;
        position:absolute;
}
.personenvorstellung .beschreibung{
    margin: 20px 30px;
}
.wir{
    padding:0px 10%;
    color:white;
    padding-top:200px;
    position:relative;
    background:black;
    display:flex;
    flex-direction:column;
    text-align: justify !important;


}
.wir h2{
    margin-left:10px;
    font-size:40px;
}

.personenvorstellung:nth-child(2n){
    flex-direction:row-reverse;
    text-align:right;
}
.line{
    align-self: center;
    width:0%;
    height: 2px;
    background:#fff;
    margin-bottom: 6px;
    animation: 2s expand forwards;
}
@Keyframes expand{
    To{
        width:100%;
    }
}
.contentwrapper{
    padding-top:150px;
    display:flex;
    justify-content:space-around;
    height:500px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,212,255,0) 100%);
    margin:-100px 0px;

    position:relative;
    z-index:1;
}
img{
    object-fit:contain;
}
a{
    color:#007eff;
}
p a:after,li a:after{
    background-repeat: no-repeat;
        background-image: url('../images/link.svg');
        background-size: 15px 15px;
        background-position:left 0px top 1px;
        display: inline-block;
        width: 15px;
        height:15px;
        content:"";
}
.contentwrapper2{
    padding-top:150px;
    display:flex;
    justify-content:space-around;
    background: black;

    position:relative;
    z-index:1;
}
.anfahrttext{
    overflow:hidden;
    text-align:left;
    width:80%;
    color:#fff;
    z-index:2;
    padding: 0px 12px 0px 12px;
}
 .first.wrapper{
     position: absolute;
     left:0;
     top:0;
     justify-content:center;
     display:flex;
     flex-direction:column;
     width:100%;
     height:100vh;
     background: #000F;
     animation-name: fade;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
     animation-delay: 1.5s;
     animation-fill-mode: forwards;
}
 #logo path:not(.imun){
     opacity:0;
     transform: translateY(-10px);
     animation-name: fadein;
     animation-duration: 8s;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in-out;
}
 #logo path:not(.imun):nth-child(3n){
     animation-delay: 0.5s;
}
 #logo path:not(.imun):nth-child(2n){
     animation-delay: 1.2s;
}
 #b{
     filter: url(#f1);
     stroke-dashoffset:1620;
     stroke-dasharray:1620;
     animation-name: test;
     animation-duration: 2s;
     animation-fill-mode: forwards;
}
.topbar{
    flex: 0 1 auto;
    display:flex;
    justify-content:space-between;
    color:white;
    font-size:30px;
    padding:20px 20px;
    font-family:"Bebas Neue";
}
.socialmedia{
    flex: 0 1 auto;
    align-self:flex-end;
    color:white;
    z-index:500;
    margin: 10px 50px 50px 0;
}
 #a{
     filter: url(#f3);
     stroke-dashoffset:1750;
     stroke-dasharray:1750;
     animation-name: test;
     animation-duration: 2s;
     animation-fill-mode: forwards;
}
 #c{
     filter: url(#f2);
     stroke-dashoffset:1750;
     stroke-dasharray:1750;
     animation-name: test;
     animation-duration: 2s;
     animation-fill-mode: forwards;

}
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.jssorb051 .i {position:absolute;cursor:pointer;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.socialmedia{
    overflow:hidden;
    display:flex;
}
.socialmedia a{
    transform: translateY(200px);
    cursor: pointer;
    width:30px;
    margin: 2px 5px;
    transition: all 0.1s;
     animation-name: fadein;
     animation-duration: 2s;
     animation-fill-mode: forwards;
}
.socialmedia a:nth-child(1) {
    animation-delay:1s;
}
.socialmedia a:nth-child(2) {
    animation-delay:1.2s;
}
.socialmedia a:nth-child(3) {
    animation-delay:1.4s;
}
.socialmedia a img:hover{
    //width:20px;
    transform:scale(1.2);
}
 .image img,video{
     width:100%;
     height:100%;
     object-fit: cover;
}
#eu_cookiebox {
    text-align: center;
	display: block;
	z-index: 100;
	position: fixed;
	bottom: 0px;
	min-height: 30px;
	padding: 5px;
	margin: 0;
	width: 100%;
	color: #555;
	border: 1px solid black;
	border-bottom: none;
	background: rgb(0, 0, 0);
}
 @keyframes fade{
     to{
         background: #0004;
    }
}
 @keyframes wiggle{
     0%{
         transform: translateY(-5px);
    }
     50%{
         transform: translateY(5px);
    }
     100%{
         transform: translateY(-5px);
    }
}
 @keyframes fadein{
     to{
         opacity:1;
         transform: translateY(0px);
    }
}
 @keyframes test{
     to{
         stroke-dashoffset: 0;
    }

}

@media screen and (max-width: 992px) {
  body {
  }
  .personenvorstellung img{
    width:100% !important;
    margin: -30px auto  !important;
  }
  .personenvorstellung{
    border:none;
    flex-direction:column !important;
    text-align:center !important;
  }
  .personenvorstellung:nth-child(2n-1) .beschreibung:before{
      content: none;
  }
  .personenvorstellung:nth-child(2n) .beschreibung::after{
     content: none;
     width:0px;
  }
    .socialmedia{
             width:400px;
             height:50px;
             justify-content:space-around;
             align-items:center;
             margin:35px auto;
      }
    .icon{
        width:50px;
    }
      .first.wrapper svg{
          width:95vw;
      }
      .contentwrapper{
          height:auto;
              background: linear-gradient(180deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 10%, rgba(0,0,0,1) 95%, rgba(0,212,255,0) 100%);
              margin:0 0 -120px 0;
          flex-direction:column;
          align-items: center;
          padding: 50 10% 150px 10%;
      }
      .infotext{
        font-size:30px;

      }
      .infowrapper{
        width:100%;
         padding: 50px 0;
      }


}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

